<h1>Wikinimous</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<a href="/article/new" class="btn"><i class="fa-solid fa-plus"></i> Add article</a>
