<div class="card">
  <h1 class="card-title"><%= @article.title %></h1>
  <p class="card-text"><%= @article.content %></p>
</div>

<%= link_to "Edit this article", edit_article_path(@article.id) %>
<%= link_to "Delete this article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are your sure?"} %>
<a href="/articles"><i class="fa-solid fa-arrow-rotate-left"></i></a>
